#
# udev - autofs rules with crypt and filesystem check support by obi
#

ACTION=="add", KERNEL=="sd*", SUBSYSTEM=="block", RUN+="/etc/udev/autofs.sh"
ACTION=="change", SUBSYSTEM=="block", ENV{DM_NAME}=="sd*", ENV{ID_FS_TYPE}!="", RUN+="/etc/udev/autofs.sh"
ACTION=="remove", SUBSYSTEM=="block", RUN+="/etc/udev/autofs.sh"
